{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Hero block area -->
    <div id="latestalbum" class="hero pad">
        <div class="container">
            <!-- hero content -->
            <div class="hero-content ">
                <!-- heading -->
                <h2>Album Detail {{ album.name }}</h2>
                <hr>

            </div>
            <!-- hero play list -->
            <div class="hero-playlist">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- music album image -->
                        <div class="figure">
                            <!-- image -->
                            <img class="img-responsive" src="{{ album.image.url }}" alt=""/>
                            <!-- disk image -->
                            <img class="img-responsive disk" src="{{ album.image.url }}" alt=""/>
                        </div>
                        <!-- album details -->
                        <div class="album-details">
                            <!-- title -->
                            <h4>{{ album.name }}</h4>
                            <!-- composed by -->
                            <h5>
                                {% for artist in album.artist.all %}
                                    <a href="{% url 'music:artist' artist.id %}">{{ artist.name }}</a>
                                {% endfor %}
                            </h5>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <!-- play list -->
                        <div class="playlist-content">
                            <ul class="list-unstyled">
                                {% for music in album.get_musics %}
                                    <li class="playlist-number">
                                        <!-- song information -->
                                        <div class="song-info">
                                            <!-- song title -->
                                            <h3>{{ music.name }}</h3>
                                            <h4><strong>Genre</strong>: <a
                                                    href="{% url 'music:genre' music.genre.id %}">{{ music.genre }}</a>
                                                &nbsp;|&nbsp; <strong>Singer</strong>:
                                                {% for artist in music.artist.all %}
                                                    <a href="{% url 'music:artist' artist.id %}">{{ artist.name }}</a>
                                                {% endfor %}
                                            </h4>
                                        </div>
                                        <!-- music icon -->
                                        <div class="music-icon">
                                            <audio controls>
                                                <source src="{{ music.file.url }}" type="audio/mpeg">

                                            </audio>

                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!--/ hero end -->